## Ejercicio alturas 
De las 3 hipótesis planteadas en la presentación, generar la información que permita obtener los parámetros estadísticos que nos servirán para rechazar o no las hipótesis nulas planteadas.

+10 Para obtener estos puntos será necesario investigar un estadístico de prueba, y presentarlo en clase, tanto la metodología como la aplicación de esta a los datos mencionados anteriormente, y deberán de explicar como analizaron estos datos y si se rechazo o no las hipótesis correspondientes.

De 3 variables diferentes de la BD utilizada para el examen del primer parcial, plantear 3 hipótesis, y generar los parámetros estadísticos que sean necesarios para validar las hipótesis nulas, con los estadísticos de prueba que veremos la próxima clase.


Definir Hipótesis:
- ¿Tienen las estudiantes de 9vo una estatura media diferente de 175 cm?  
   H0: $\mu$ m =! 175
- ¿Es la desviación estándar de su estatura igual a o menor que 10 cm?  
   H0: $\sigma$ =< 10
- ¿Es diferente la estatura promedio de las mujeres comparada con la de los hombres?  
   H0: $\mu$ h =! $\mu$ m  
Grados de Libertad y Nivel de Significancia  
Fórmulas o Ecuaciones  
Evaluación

### Datos

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt 

estaturas_grupo ={
    'nombre': ['Fer','Ale','Alex Muñoz','Gael','Erick','Angie','Karla','Angel','Jose Jacal','Leo Dorantes','Lalo','Antonio','Luis Hurtado','Cristian ','Juve',],
    'altura':[180,170,170,168,165,168,170,175,175,171,172,170,177,170,176 ], 
    'sexo':['M','M','M','M','M','F','F','M','M','M','M','M','M','M','M',]}

indexes = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15',]
columns = ['nombre','altura','sexo']

df_estaturas = pd.DataFrame(estaturas_grupo)
df_estaturas

### promedio

In [ ]:
promedio_estaturas = df_estaturas['altura'].mean()
promedio_estaturas

In [ ]:
df_estatura_mujeres = df_estaturas [df_estaturas['sexo'] == 'F']
media_mujeres = df_estatura_mujeres ['altura'].mean()
media_mujeres

In [ ]:
df_estatura_hombres = df_estaturas [df_estaturas['sexo'] == 'M']
media_hombres = df_estatura_hombres ['altura'].mean()
media_hombres

### desviación estandar

In [ ]:
desv_estandar_estaturas = df_estaturas ['altura'].std()
desv_estandar_estaturas

### conclusiones

- ¿Tienen las estudiantes de 9vo una estatura media diferente de 175 cm?  
   H0: $\mu$ m =! 175  
   $\mu$ m = 172.23076923076923 por lo tanto se confirma la hipótesis nula
   
- ¿Es la desviación estándar de su estatura igual a o menor que 10 cm?  
   H0: $\sigma$ =< 10
   $\sigma$ = 4.003569835605647 por lo tanto se confirma la hipótesis nula

- ¿Es diferente la estatura promedio de las mujeres comparada con la de los hombres?  
   H0: $\mu$ h =! $\mu$ m  
   $\mu$ h = 172.23076923076923 
   $\mu$ m = 169.0
   por lo tanto se confirma la hipótesis nula

***
### ejercicio datos aeropuerto

De 3 variables diferentes de la BD utilizada para el examen del primer parcial, plantear 3 hipótesis, y generar los parámetros estadísticos que sean necesarios para validar las hipótesis nulas, con los estadísticos de prueba que veremos la próxima clase.

- ¿tienen las aerolíneas efectos diferentes sobre los retrasos?
  - H0: $\mu$ a1 = $\mu$ a2 = $\mu$ a3 ... = $\mu$ an 
  - H1: $\mu$ a1 != $\mu$ a2 != $\mu$ a3 ... != $\mu$ an   
  utilizaremos chi cuadrada con dos variables categóricas
  entre aerolinea y vuelo retrasado  

- existe una relacion entre aerolinea y vuelos cancelados?
- o aeropuerto y vuelos cancelados
prueba chi cuadrada para comprobar relacion entre 2 variables categoricas

In [2]:
import pandas as pd
import matplotlib.pyplot as plt 

df_flights = pd.read_csv('flights.csv')
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271940 entries, 0 to 271939
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               271940 non-null  int64
 1   Month              271940 non-null  int64
 2   DayofMonth         271940 non-null  int64
 3   DayOfWeek          271940 non-null  int64
 4   Carrier            271940 non-null  object
 5   OriginAirportID    271940 non-null  int64
 6   OriginAirportName  271940 non-null  object
 7   OriginCity         271940 non-null  object
 8   OriginState        271940 non-null  object
 9   DestAirportID      271940 non-null  int64
 10  DestAirportName    271940 non-null  object
 11  DestCity           271940 non-null  object
 12  DestState          271940 non-null  object
 13  CRSDepTime         271940 non-null  int64
 14  DepDelay           271940 non-null  int64
 15  DepDel15           269179 non-null  float64
 16  CRSArrTime         271940 non-null  int64
 17  ArrDelay           271940 non-null  int64
 18  ArrDel15           271940 non-null  int64
 19  Cancelled          271940 non-null  int64
dtypes: float64(1), int64(12), object(7)
memory usage: 41.5+ MB

In [4]:
delays_by_carrier = df_flights [['Carrier','ArrDel15']]
delays_by_carrier

       Carrier  ArrDel15
0           DL         0
1           WN         1
2           AS         0
3           OO         1
4           DL         0
...        ...       ...
271935      VX         1
271936      FL         1
271937      WN         1
271938      HA         0
271939      UA         1

[271940 rows x 2 columns]

In [6]:
#ver las aerolineas disponibles
carriers = delays_by_carrier ['Carrier'].unique()
carriers

array(['DL', 'WN', 'AS', 'OO', 'UA', 'EV', 'AA', 'MQ', 'US', 'YV', 'FL',
       'F9', 'B6', 'VX', '9E', 'HA'], dtype=object)

In [16]:
#aerolinea DL ver cuantos vuelos puntuales y cuantos con retraso
DL_delays = delays_by_carrier [(delays_by_carrier.Carrier == 'DL') & (delays_by_carrier.ArrDel15 == 1)]
DL_delays = len(DL_delays)

DL_on_time = delays_by_carrier [(delays_by_carrier.Carrier == 'DL') & (delays_by_carrier.ArrDel15 == 0)]
DL_on_time = len(DL_on_time)

print('delays DL:',DL_delays)
print('on time DL:',DL_on_time)

delays DL: 6001
on time DL: 32481

In [22]:
#aerolinea DL ver cuantos vuelos puntuales y cuantos con retraso
WN_delays = delays_by_carrier [(delays_by_carrier.Carrier == 'WN') & (delays_by_carrier.ArrDel15 == 1)]
WN_delays = len(WN_delays)

WN_on_time = delays_by_carrier [(delays_by_carrier.Carrier == 'WN') & (delays_by_carrier.ArrDel15 == 0)]
WN_on_time = len(WN_on_time)

print('delays WN:',WN_delays)
print('on time WN:',WN_on_time)

delays WN: 13684
on time WN: 44177

In [23]:
#aerolinea DL ver cuantos vuelos puntuales y cuantos con retraso
AS_delays = delays_by_carrier [(delays_by_carrier.Carrier == 'AS') & (delays_by_carrier.ArrDel15 == 1)]
AS_delays = len(AS_delays)

AS_on_time = delays_by_carrier [(delays_by_carrier.Carrier == 'AS') & (delays_by_carrier.ArrDel15 == 0)]
AS_on_time = len(AS_on_time)

print('delays AS:',AS_delays)
print('on time AS:',AS_on_time)

delays AS: 835
on time AS: 5929